<div class="footer container-fluid bg-body-secondary border-top pt-4 px-4 mt-4">

    <div class="footer-div1 row row-cols-2 row-cols-md-4 text-start g-4">

        <div class="company-about col">
            <h6 class="fw-bold mb-2">Company</h6>
            <div class="c-a-about"><a href="/listings" class="footer-link">About</a></div>
            <div class="c-a-careers"><a href="/listings" class="footer-link">Careers</a></div>
            <div class="c-a-newsroom"><a href="/listings" class="footer-link">Newsroom</a></div>
            <div class="c-a-investors"><a href="/listings" class="footer-link">Investors</a></div>
            <div class="c-a-airbnb-org"><a href="/listings" class="footer-link">Airbnb.org</a></div>
        </div>

        <div class="community col">
            <h6 class="fw-bold mb-2">Community</h6>
            <div class="community-access"><a href="/listings" class="footer-link">Accessibility</a></div>
            <div class="community-frnds"><a href="/listings" class="footer-link">Invite friends</a></div>
            <div class="community-assoc"><a href="/listings" class="footer-link">Airbnb Associates</a></div>
            <div class="community-belong"><a href="/listings" class="footer-link">Diversity & Belonging</a></div>
        </div>

        <div class="hosting col">
            <h6 class="fw-bold mb-2">Hosting</h6>
            <div class="host-home"><a href="/listings" class="footer-link">Host your home</a></div>
            <div class="host-exp"><a href="/listings" class="footer-link">Host an experience</a></div>
            <div class="host-resp"><a href="/listings" class="footer-link">Responsible hosting</a></div>
            <div class="host-centre"><a href="/listings" class="footer-link">Community Center</a></div>
            <div class="host-resources"><a href="/listings" class="footer-link">Hosting resources</a></div>
        </div>

        <div class="support col">
            <h6 class="fw-bold mb-2">Support</h6>
            <div class="sup-contact"><a href="/listings" class="footer-link">Contact</a></div>
            <div class="sup-help"><a href="/listings" class="footer-link">Help Center</a></div>
            <div class="sup-cover"><a href="/listings" class="footer-link">AirCover</a></div>
            <div class="sup-cancel"><a href="/listings" class="footer-link">Cancellation options</a></div>
        </div>

    </div>

    <hr class="my-4 w-100">

    <div class="footer-div2 d-flex flex-column flex-md-row justify-content-between align-items-center gap-3 pb-3">

        <div class="company">
            <h6>&copy; 2025 Airbnb, Inc.</h6>
        </div>

        <div class="extra d-flex flex-wrap align-items-center gap-2">
            <a class="footer-link" href="/listings">Privacy</a>
            <span><b>.</b></span>
            <a class="footer-link" href="/listings">Terms</a>
            <span><b>.</b></span>
            <a class="footer-link" href="/listings">Sitemap</a>
            <span><b>.</b></span>
            <a class="footer-link" href="/listings">Company details</a>
        </div>

        <div class="social d-flex gap-3 fs-5">
            <a class="text-dark" href="/listings"><i class="fa-brands fa-square-facebook"></i></a>
            <a class="text-dark" href="/listings"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a class="text-dark" href="/listings"><i class="fa-brands fa-square-instagram"></i></a>
        </div>

    </div>

</div>


