/* sub-nav */

.sub-nav {
  display: flex;
}

/* FILTER PANEL */

#filters {
  display: flex;
  overflow-x: auto;
  /* Enables horizontal scroll */
  gap: 1rem;
  scroll-behavior: smooth;
  /* padding: 1rem; */
  margin-left: 3rem;
  white-space: nowrap;
  /* Prevents line break */
}

#filters::-webkit-scrollbar {
  height: 0.5rem;
}

#filter {
  margin-right: 1.5rem;
  opacity: 0.7;
}

#filter:hover {
  opacity: 1;
  cursor: pointer;
}

#filter-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#filter p {
  font-size: 0.9rem;
}

#reset {
  margin-left: 2rem;
}

/* LISTING CARD */

.index-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.listing-card {
  flex: 1 1 18.75rem;
  width: 16rem;
  height: 22rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  opacity: 1;
}

.listing-card:hover {
  opacity: 0.8;
}

.listing-img img {
  width: 15rem;
  height: 15rem;
  /* Fix height for uniform look */
  object-fit: cover;
  /* 🔥 Keeps image aspect, crops nicely */
  border-radius: 1rem;
}

.listing-content {
  width: 15rem;
  height: 7rem;
  margin-top: 0.5rem;
  overflow-y: auto;
}


