.show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-height1 {
    height: auto; /* Let content height control it on small screens */
}

.show-fixed-img {
    width: 100%;
    max-width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .show-fixed-img {
        height: 30rem; /* Keep fixed height even on mobile */
    }

    .show-img {
        width: 100%;
    }

    .owner-about-price-div {
        width: 100%;
    }
}

.cs-mp-height {
    height: 25rem;
}

/* CUSTOM DELETE */

#alertContainer {
    z-index: 5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#customAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    width: 30rem;
    background-color: #ffffff;
    border: 0.01rem solid #b4b4b4b2;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}

#customAlert img {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.5rem;
}

.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
